<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--穿山甲-GroMore融合版本SDK所需权限 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <permission
        android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.openadsdk.permission.TT_PANGOLIN" />

    <!--建议添加“query_all_package”权限，穿山甲将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--穿山甲-GroMore融合版本SDK所需权限 end-->


    <!--广点通SDK所需权限 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />    <!-- 必要权限，权限会用在下载类广告安装应用时使用 -->
    <!--可选权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--广点通SDK所需权限 end-->


    <!--优加SDK所需权限 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--优加SDK所需权限 end-->


    <!--倍孜SDK所需权限 start-->
    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--可选权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--倍孜SDK所需权限 end-->


    <!--快手SDK所需权限 start-->
    <!--检测当前⽹络状态是2G、3G、4G还是WiFi-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--联⽹权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取设备标识IMEI。⽤于标识⽤户-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读写存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取MAC地址，⽤于标识⽤户-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--安装应⽤权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--建议添加“query_all_package”权限，SDK将通过此权限在AndroidR系统上判定⼴告对应的应⽤
    是否在⽤户的app上安装，避免投放错误的⼴告，以此提⾼⽤户的⼴告体验。若添加此权限，需要在您的⽤
    户隐私⽂档中声明-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--快手SDK所需权限 end-->


    <!--百度SDK所需权限 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permissio.WRITE_EXTERNAL_STORAGE" />
    <!--可选权限-->
    <!--高于Android 7的系统上，如果应用的 targetSdkVersion >= 26 ，推荐增加权限声明（SDK将通过此权限触发App安装动作-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--高于Android 11的系统上，如果应用的 targetSdkVersion >= 30 ，推荐增加以下权限声明（SDK将通过此权限正常触发广告行为，并保证广告的正确投放。此权限需要在用户隐私文档中声明。-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--百度SDK所需权限 end-->

    <!--京东SDK所需权限 start-->
    <!--必要权限 用户SDK可访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--可选权限-->
    <!--用于SDK可获取网络状态变化，更及时的更新媒体广告位配置-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于SDK，在媒体允许的情况下，获取IMEI 标识用户的唯一性，有助于广告填充-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于SDK，在媒体允许的情况下，获取使用Wi-Fi等WLAN无线网，有助于广告精准投放-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于京东渲染广告图片缓存 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--建议添加“query_all_package”权限，京东广告将通过此权限在Android R系统上判定广告对应的应用是否在用户的app上安装，
    避免投放错误的广告，以此提高用户的广告体验。若添加此权限，需要在您的用户隐私文档中声明！-->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!--京东SDK所需权限 end-->

    <!--华为SDK所需权限 start-->

    <!--华为SDK所需权限 end-->

    <!--趣盟SDK所需权限 start-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--趣盟SDK所需权限 end-->

    <!--章鱼SDK所需权限 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--章鱼SDK所需权限 start-->

    <!--美数SDK所需权限 start-->
    <!--必要权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--可选权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--美数SDK所需权限 end-->

    <uses-sdk
        tools:overrideLibrary="
            xyz.adscope.amps,
            biz.beizi.adn,xyz.adscope.amps.adapter.asnp,
            com.beizi.ad,com.beizi.fusion,xyz.adscope.amps.adapter.bz,
            com.qq.e,xyz.adscope.amps.adapter.gdt,
            com.kwad.sdk,xyz.adscope.amps.adapter.ks,
            com.bytedance.gromore,xyz.adscope.amps.adapter.csj,xyz.adscope.amps.adapter.gm,
            com.baidu.mobads.proxy,xyz.adscope.amps.adapter.bd,
            com.qumeng.advlib,xyz.adscope.amps.adapter.qm,
            com.sigmob.sdk,com.czhj.sdk.common,xyz.adscope.amps.adapter.sigmob,
            com.jd.ad.sdk.multi,xyz.adscope.amps.adapter.jd,
            com.huawei.hms.ads,xyz.adscope.amps.adapter.hw,
            com.octopus.ad,xyz.adscope.amps.adapter.oct,
            com.meishu.sdk,xyz.adscope.amps.adapter.ms,
            xyz.adscope.common.v2" />

    <application>
        <activity
            android:name=".SplashAdActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!--优加SDK start-->
        <provider
            android:name="xyz.adscope.ad.publish.provider.ASNPFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/asnp_file_paths" />
        </provider>
        <!--优加SDK end-->


        <!--倍孜SDK start-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/beizi_file_path" />
        </provider>
        <!--倍孜SDK end-->


        <!--广点通SDK start-->
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <!--广点通SDK end-->


        <!-- 穿山甲-GroMore融合版本SDK start -->
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pangle_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <provider
            android:name="com.meishu.sdk.core.service.MeishuFileProvider"
            android:authorities="${applicationId}.MeishuFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/meishu_file_path" />
        </provider>

    </application>


</manifest>